@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    background-image: url('../assets/Imagens/SuperNova.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: background-animation 5s forwards;
    width: 100%;
    height: 100vh;
}

@keyframes background-animation {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}

header {
    width: 240px;
}

.conteiner-menu {
    border: 0;
    height: 335px;
}

.menu {
    margin-top: 60px;
    margin-left: 25px;
    width: 210px;
    height: 60px;
    font-size: 50px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif 'Press Start 2P', cursive;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
    background-color:  rgba(12, 136, 238, 0.147);
    cursor: pointer;
    border: none; 
}

@keyframes pulse {  
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.menu:hover {
    animation: pulse 1.75s infinite;
}

#subMenu {
    list-style-type: none;
    padding: 10px;
    margin: 3px;
    font-family: sans-serif 'Press Start 2P', cursive;
}

#subMenu .Home,
#subMenu .Projetos,
#subMenu .Contatos {
    text-decoration: none;
    max-width: 200px;
    margin-top: 10px;
    margin-right: 20px; 
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif 'Press Start 2P', cursive;
    transition: transform 0.3s ease;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
    background-color: rgba(12, 136, 238, 0.147);
    display: block;
    cursor: pointer;
    border-radius: 50px;
    border: none;
}

#subMenu .Home:hover,
#subMenu .Projetos:hover,
#subMenu .Contatos:hover {
    transform: translateX(5px);
}

#subMenu .Home:hover::after,
#subMenu .Projetos:hover::after,
#subMenu .Contatos:hover::after {
    content: '\25C4';
    display: inline-block;
    margin-left: 5px;
    animation: bounce 0.5s infinite alternate;
}

.hidden{
    display: none;
}

@keyframes bounce {
    0% { transform: translateX(0); }
    100% { transform: translateX(5px); }
}

.mute-button {
    width: 45px;
    height: 45px;
    align-items: center;
    color: rgb(255 255 255);
    background-color: rgba(97, 82, 82, 0);
    border-radius: 20%;
    border: 15px;
    cursor: pointer;
    position: absolute;
    top: 20px; 
    right: 20px; 
}

@keyframes floating {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

main {
    padding: 0;
    margin: 0;
    border: 0;

    width: 100%;
    height: 270px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.Container-pai {
    display: flex;
    align-items: center;
    justify-content: center;


}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 45px;
    margin-left: 200px;
    background-color: #1d1d2e8e;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 16px;
}

section h2 {
    color: #f5f5f5;
    font-size: 40px;
    margin: 32px;
}

 section form {
    display: flex;
    flex-direction: column;
    width: 100%;
 }

form label {
    color: #f5f5f5;
    font-size: 17px;
    margin: 4px;
 }

form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin: 20px;
    font-size: 15px;
    transition: all 0.5s;
 }

form input:focus {
    border-radius: 16px;
 }

form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin: 30px;
    transition: all 0.5s;
 }

form textarea:focus {
    border-radius: 16px;
 }

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border: 2px solid #f5f5f5;
    transition: all 1s;
    margin-bottom: 20px;
    color: #f5f5f5;
 }
 
form button:hover {
    background-color: #f5f5f5;
    color: #101026;
    border-radius: 16px;
 }

*,
*::after,
*::before {
  box-sizing: border-box;
}

.btn-git {
    display: inline-block;
    text-decoration: none;
    font-size: 27px;
    color: #14fff1;
    margin-left: 27px;
    padding: 16px 64px;
    border-radius: 16px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
    box-shadow: inset 0 0 32px #1d1d2e8e, 0 0 32px #1d1d2e8e;
    position: relative;
    animation: floating 3s infinite;
  }
  
  .btn-git::before {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #14fff1;
    left: 0;
    top: 120%;
    transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
    filter: blur(64px);
    opacity: 0.7;
  }
  
  .btn-git::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background-color: #14fff1;
    box-shadow: 0 0 128px 32px #14fff1;
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
  }
  
  .btn-git:hover::after,
  .btn-git:focus::after {
    opacity: 1;
  }
  
  .btn-git:hover::before,
  .btn-git:focus::before {
    opacity: 1;
  }
  
  .btn-git:hover,
  .btn-git:focus {
    color:  #1d1d2e8e;
    text-shadow: none;
  }

  .btn-linkedin {
    display: inline-block;
    text-decoration: none;
    font-size: 27px;
    color: #14fff1;
    top: 200px;
    right: 250px;
    margin-left: 27px;
    padding: 16px 64px;
    border-radius: 16px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px #14fff1;
    box-shadow: inset 0 0 32px  #1d1d2e8e, 0 0 32px  #1d1d2e8e;
    position: relative;
    animation: floating 3s infinite;
  }
  
  .btn-linkedin::before {
    pointer-events: none;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #14fff1;
    left: 0;
    top: 120%;
    transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
    filter: blur(64px);
    opacity: 0.7;
  }
  
  .btn-linkedin::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background-color: #14fff1;
    box-shadow: 0 0 128px 32px #14fff1;
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
  }
  
  .btn-linkedin:hover::after,
  .btn-linkedin:focus::after {
    opacity: 1;
  }
  
  .btn-linkedin:hover::before,
  .btn-linkedin:focus::before {
    opacity: 1;
  }
  
  .btn-linkedin:hover,
  .btn-linkedin:focus {
    color:  #1d1d2e8e;
    text-shadow: none;
  }

 footer {
    padding: 0;
    margin: 0;
    border: 0;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.texto {
    position:relative;
    bottom: 15px;
    right: 0px;
    margin-bottom: 5px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    animation: floating 3s infinite;
    display: flex;

}

.proximapg .arrow-down  {
    text-decoration: none;
    position: fixed;
    top: 900px;
    left: 48%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif, 'Press Start 2P', cursive;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
    transition: transform 0.2s ease-in-out;
    margin-top: 20px;
    animation: floating 3s infinite; 
}

.arrow-down:hover {
    transform: translateY(5px);
}

.arrow {
    top: 0;
    left: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #ffffff;
    transition: border-top-color 0.2s ease-in-out;
}

.arrow-down:hover .arrow {
    border-top-color: #000000; 
}



