html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

body {
    margin: 0;
    background-image: url('../assets/Imagens/Horizonte.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 100%;
    height: 100vh;
}

@keyframes background-animation {
    0% { background-position: 0 0; }
    100% { background-position: 100% 100%; }
}

header {
    width: 240px;
}

.conteiner-menu {
    border: 0;
    height: 335px;
}

.menu {
    margin-top: 60px;
    margin-left: 25px;
    width: 210px;
    height: 60px;
    font-size: 50px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif 'Press Start 2P', cursive;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
    background-color:  rgba(12, 136, 238, 0.147);
    cursor: pointer;
    border: none; 
}

@keyframes pulse {  
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.menu:hover {
    animation: pulse 1.75s infinite;
}

#subMenu {
    list-style-type: none;
    padding: 10px;
    margin: 3px;
    font-family: sans-serif 'Press Start 2P', cursive;
}

#subMenu .Home,
#subMenu .Projetos,
#subMenu .Contatos {
    text-decoration: none;
    max-width: 200px;
    margin-top: 10px;
    margin-right: 20px; 
    margin-bottom: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    font-family: sans-serif 'Press Start 2P', cursive;
    transition: transform 0.3s ease;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
    background-color: rgba(12, 136, 238, 0.147);
    display: block;
    cursor: pointer;
    border-radius: 50px;
    border: none;
}

#subMenu .Home:hover,
#subMenu .Projetos:hover,
#subMenu .Contatos:hover {
    transform: translateX(5px);
}

#subMenu .Home:hover::after,
#subMenu .Projetos:hover::after,
#subMenu .Contatos:hover::after {
    content: '\25C4';
    display: inline-block;
    margin-left: 5px;
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    0% { transform: translateX(0); }
    100% { transform: translateX(5px); }
}

.mute-button {
    width: 45px;
    height: 45px;
    align-items: center;
    color: rgb(255 255 255);
    background-color: rgba(97, 82, 82, 0);
    border-radius: 20%;
    border: 15px;
    cursor: pointer;
    position: absolute;
    top: 20px; 
    right: 20px; 
}

@keyframes floating {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

main {
    padding: 0;
    margin: 0;
    border: 0;

    width: 100%;
    height: 270px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.esconder {
    display: none;
}

#Creditos-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

#Creditos {
    width: 80%;
    max-width: 800px;
    font-family: Arial, sans-serif;
    font-size: 34px;
    line-height: 1.6;
    color: yellow;
    transform: rotateX(20deg);
    transform-origin: 50% 100%;
    animation: crawl 10s linear;
}

@keyframes crawl {
    0% {
        transform: rotateX(20deg) translateY(100%);
    }
    100% {
        transform: rotateX(20deg) translateY(-200%);
    }
}

@keyframes slide-up {
    0% { transform: translateY(100%); }
    100% { transform: translateY(-100%); }
}

#pular {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #D27D2D;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#pular:hover {
    background-color: #E9967A;
}

#princial {
    padding: 20px;
    color: black;
    font-family: sans-serif;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    animation: floating 3s infinite;  
}

 footer {
    padding: 0;
    margin: 0;
    border: 0;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.texto {
    position:relative;
    bottom: 15px;
    right: 0px;
    margin-bottom: 5px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    animation: floating 3s infinite;
    display: flex;

}

.proximapg .arrow-down  {
    text-decoration: none;
    position: fixed;
    top: 900px;
    left: 48%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-family: sans-serif, 'Press Start 2P', cursive;
    text-shadow: 4px 4px 10px rgb(0, 0, 0);
    transition: transform 0.2s ease-in-out;
    margin-top: 20px;
    animation: floating 3s infinite; 
}

.arrow-down:hover {
    transform: translateY(5px);
}

.arrow {
    top: 0;
    left: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #ffffff;
    transition: border-top-color 0.2s ease-in-out;
}

.arrow-down:hover .arrow {
    border-top-color: #000000; 
}



